<div class="flex gap-4 items-center w-3/5">
    <div class="cursor-pointer hover:bg-black hover:opacity-50 py-1 px-2 rounded-lg">
        <i class="bi bi-clock opacity-75 text-2xl text-white"></i>
    </div>
    <div class="border border-gray-100 border-opacity-25 flex gap-2 px-4 py-1 rounded-md w-5/6">
        <i class="bi bi-search text-white"></i>
        <input class="bg-transparent outline-0 text-white w-full"
               placeholder="Search Slackify"
               type="text" />
    </div>
</div>
