<div class="bg-slackBg flex items-center justify-between px-4 py-2 w-full">
    <div class="px-4">
        <i class="bi bi-person text-3xl text-white"></i>
    </div>
    <HeaderSearch />
    <div class="cursor-pointer hover:bg-black hover:opacity-50 py-1 px-2 rounded-lg">
        <i class="bi bi-question-circle text-2xl text-white"></i>
    </div>
</div>
